#background {
    background-image: url("./assets/logo.png");
}
#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    text-align: center;
    text-transform: uppercase;
}